@import "tailwindcss";
@plugin "daisyui";
@import 'aos/dist/aos.css';


@keyframes scrollBackground {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 1000px; /* big number so movement is visible */
  }
}

.animate-scroll-background {
  animation: scrollBackground 30s linear infinite;
}



